.intro {
  @include back-img(url(/image/bitmap.png));
  @include margin;
  padding: 50px;
  border-radius: 10px;
  &-title {
    @include title(60px, 500px, #fff);
  }
  &-text {
    @include text("Barlow", 350px, #fff);
    margin: 50px 0px;
  }
  &-btn {
    @include button;
  }
}

@media only screen and (max-width: 450px) {
  .intro {
    width: 90%;
    @include back-img(url(/image/bitmap.png));
    padding: 30px 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title {
      @include title(30px, 300px, #fff);
      text-align: center;
    }
    &-text {
      @include text("Barlow", 300px, #fff);
      font-size: 10px;
      text-align: center;
    }
    &-btn {
      @include button2(200px, 40px, #0e8784);
    }
  }
}
